/* Tamaño de fuente */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Body en flex para mantener footer al final */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Contenedor principal flex-grow para ocupar espacio disponible */
.container {
    flex: 1;
}

/* Enfoque en botones y formularios */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Placeholder en búsqueda */
.busqueda ::placeholder {
    color: #101010 !important;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease;
}

    .navbar-nav .nav-link i {
        display: inline-block;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Efecto de rebote suave */
    }

    .navbar-nav .nav-link:hover {
        color: #dcdcdc; /* Cambia ligeramente el color del texto */
    }

        .navbar-nav .nav-link:hover i {
            transform: scale(1.3) rotate(15deg); /* Zoom y rotación ligera */
        }


/* Alineación del ícono de búsqueda */
.busqueda input-group-append {
    display: flex;
    align-items: center;
}

/* Botón de búsqueda */
.busqueda .btn-secondary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Banner */
.banner-container {
    position: relative;
    height: 70vh;
    overflow: hidden;
    background: url('../imagenes/fondo-banner.png') center no-repeat;
    background-size: cover;
}

.banner-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 50px;
}

.subscribe-btn {
    padding: 15px 30px;
    font-size: 32px;
    border-radius: 14px;
}

#weather {
    color: #ffffff;
    font-size: 13px;
    display: flex;
    align-items: center;
}

    #weather img {
        margin-right: 5px;
    }

/* Estilo para el input "apagado" */
.input-apagado {
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco translúcido */
    color: #aaa; /* Texto tenue */
    border-color: #ddd; /* Borde más claro */
    pointer-events: none; /* Evita que se pueda interactuar con el input */
    box-shadow: none; /* Elimina sombras */
    opacity: 0.8; /* Apariencia "apagada" */
}

